.title_img {
  font-size: 40px;
}
.flex-container {
  display: flex;
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-container > div {
  background-color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
}
.Main {
  background-color: #f1f1f1;
  padding-bottom: 20px;
}
h3 {
  /* padding-top: 20px;
  padding-left: 128px; */
  color: blue;
  font-size: 20px;
}
button {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 4px;
  margin-left: 100px;
  font-size: 24px;
}
p